// Define variables for your color scheme

// basic
$white: #FFFFFF;
$pink: #FFD6CA;
$black: #0A0A0A;

$darker-yellow: #F9D94C;
$orange: #FF7249;
$barge: #FBEAD1;
$purple: #8257F6;

// background color
.bg-white {
  background-color: $white;
}

.bg-pink {
  background-color: $pink;
}

.bg-purple {
  background-color: $purple;
}

.bg-orange {
  background-color: $orange;
}

.bg-darker-yellow {
  background-color: $darker-yellow;
}

.bg-barge {
  background-color: $barge;
}
