// Define variables for your color scheme

// basic
$white: #ffffff;
$pink: #ffd6ca;
$black: #0a0a0a;
$blue: #91bdfa;
$red: #ec5656;

$darker-yellow: #f9d94c;
$orange: #ff8762;
$barge: #fbead1;
$purple: #8257f6;
$jade: #b8e1df;
$coffee: #c08147;
$green: #c8e1b5;

// background color
.bg-white {
	background-color: $white;
}

.bg-pink {
	background-color: $pink;
}

.bg-purple {
	background-color: $purple;
}

.bg-orange {
	background-color: $orange;
}

.bg-darker-yellow {
	background-color: $darker-yellow;
}

.bg-barge {
	background-color: $barge;
}

.bg-jade {
	background-color: $jade;
}

.bg-coffee {
	background-color: $coffee;
}

.bg-green {
	background-color: $green;
}

.bg-red {
	background-color: $red;
}

.bg-orange {
	background-color: $orange;
}
