.card-cue-container {
	width: 100%;
	justify-content: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.card-cue {
	width: 100%;
	transition-duration: 0.2s;
	&:hover {
		height: 13rem;
	}

	h4 {
		color: $black;
	}
}

.link-to-text-color {
	color: $black;
}
