// Specific CSS for your home-page
.home-container {
	height: 80vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	gap: 1.5rem;
	justify-content: center;
	align-items: center;
}

.center-content {
	display: flex;
  justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.card-detail-amount {
  margin-top: 44px;
  height: 250px;
}

