<div class="container">
  <% if current_user.accounts.count >= 2 %>
  <%= link_to @back, class: "bt btn-back" do %>
  <% end %>
  <% end %>
  <% @msg.each_line do |s| %>
    <h1><%= s %></h1>
  <% end %>
  <div class="card-grid">
  <% @cues.each do |cue| %>
    <%= link_to new_cue_user_cue_path(cue) do %>
      <%= render partial: "shared/cue_card", locals: {cue: cue } %>
    <% end %>
  <% end %>
  </div>
</div>
