<div class="user-cue-container">
  <div class="user-cue-container-text">
  <h1>How much do you save for each coffee break?</h1>
  </div>
  <%= simple_form_for @user_cue do |f| %>
    <div class="form-floating mb-3">
        <%= f.input :cue_amount,
                    label: 'Amount',
                    required: true,
                    class: "form-control",
                    placeholder: "€" %>
      </div>
        <div class="form-actions">
         <%= f.button :submit, "Next", class: "btn btn-primary" %>
        </div>
  <% end %>
  <%= render 'shared/flashes' %>
</div>
