<!--================card================-->
<h1>card</h1>

  <!--card-rainy-->
  <div class="card-rainy">
      <i class="fa-solid fa-cloud-drizzle"></i>
      <h3>Rainy day</h3>
      <p>information</p>
  </div>

  <!--card-starbucks-->
  <div class="card-starburks">
      <i class="fa-solid fa-cloud-drizzle"></i>
      <h3>Starbucks day</h3>
      <p>information</p>
  </div>

  <!--card-sunny-->
  <div class="card-sunny">
      <i class="fa-solid fa-cloud-drizzle"></i>
      <h3>Sunny day</h3>
      <p>information</p>
  </div>

  <!--card-wine-->
  <div class="card-wine">
      <i class="fa-solid fa-cloud-drizzle"></i>
      <h3>Wine day</h3>
      <p>information</p>
  </div>

<hr>
<!--================navbar================-->







<!--================button================-->








<!--================================-->
