<!--================card================-->
<h1>#card</h1>
  <div class="card-cue-container">
  <!--card-rainy-->
    <div class="card-cue bg-barge">
        <h1 class="emoji">🌧</h1>
        <h4>Rainy day</h4>
        <p class="p-small">information</p>
    </div>

    <!--card-starbucks-->
    <div class="card-cue bg-purple">
        <h1 class="emoji">☕️</h1>
        <h4>Starbucks day</h4>
        <p class="p-small">information</p>
    </div>

    <!--card-sunny-->
    <div class="card-cue bg-orange">
        <h1 class="emoji">☀️</h1>
        <h4>Sunny day</h4>
        <p class="p-small">information</p>
    </div>

    <!--card-wine-->
    <div class="card-cue bg-darker-yellow ">
        <h1 class="emoji">🥂</h1>
        <h4>Wine day</h4>
        <p class="p-small">information</p>
    </div>
 </div>
<hr>
<!--================total amount card================-->
<h1>#card-total-amount</h1>
<div class="card-total-amount bg-white">
    <h1 class="p-large">230€</h1>
    <h4>Amount saved</h4>
</div>
<hr>

<!--================transaction card================-->
<!--no transaction-->
<h1>#card-no-transaction</h1>
<div class="card-no-transaction bg-white">
    <h2>No transactions</h2>
</div>
<hr>
<!--transaction-->
<h1>#card-transaction</h1>
<div class="card-transaction bg-white">
    <div class="card-transaction-img">
    <h1 class="emoji">🌧</h1>
    </div>
    <div class="card-transaction-infos">
      <h2>Rainy day</h2>
      <p class="p-small">2022-03-20 Monday</p>
    </div>
    <div class="card-transaction-money">
    <h2>+5€</h2>
    </div>
    <div class="card-transaction-mark">
      <a href="#">
        <h1 class="arrow">▶️</h1>
      </a>
    </div>
</div>
<hr>
<!--================navbar================-->

<!--savecue logo-->
<h1> #savecue logo</h1>
<nav class="navbar navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="logo-large" alt="logo-large" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png">
      Savecue
    </a>
  </div>
</nav>

<hr>
<!--avatar--with--logo-->
<h1>#avatar with logo</h1>
<div class="navbar navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-toggler navbar-brand border-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
    </a>
    <div class="offcanvas offcanvas-start border-black" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <div class="offcanvas-title" id="offcanvasNavbarLabel">
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
          <h3 class="my-3">Genie</h3>
        </div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body border-top-black">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Payment settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">log out</a>
          </li>
        </ul>
      </div>
    </div>
    <a class="navbar-brand" href="#">
      <img class="logo-large" alt="logo-large" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png">
    </a>
  </div>
</div>

<hr>
<!--================button================-->








<!--================================-->
