.bt {
	width: 100%;
	height: 3.75rem;
	text-align: center;
	font-weight: 800;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 0.5rem;
	border-radius: $border-radius;

	&:hover {
		background-color: $blue;
		color: $black;
		border: 3px solid $black;
		height: 3.75rem;
	}
}

.btn-primary {
	background-color: $purple;
	border: 3px solid $black;
	color: $white;
}

.btn-secondary {
	background-color: $white;
	color: black;
	border: 3px solid $purple;
}

.btn-destructive {
	width: 100%;
	background-color: $white;
	color: rgb(168, 48, 48);
	border: 3px solid rgb(168, 48, 48);

	&:hover {
		background-color: rgb(255, 67, 67);
		color: $white;
	}
}

.btn-back {
	width: 3.25rem;
	height: 3.25rem;
	padding: 10px;
	background-color: $white;
	border: 3px solid $purple;
	border-radius: $border-radius;
	text-decoration: none;
	background-image: url("arrow.png");
	background-size: contain;
	&:hover {
		width: 3.25rem;
		height: 3.25rem;
	}
}

.btn-small {
	background-color: $white;
	color: black;
	border: 3px solid #8257f6;
	padding: 12px 16px;
	font-weight: lighter;
	border-radius: $border-radius;
	text-decoration: none;
}

.btn-toggle {
	font-size: 1.25rem;
	border-radius: $border-radius;
	text-decoration: none;
	color: $black;
	background-color: $white;
	border-radius: $border-radius;
	border: 3px solid $purple;
	padding: 0.75rem 1rem;
	&:hover {
		background-color: $blue;
		border: 3px solid $black;
		color: $black;
	}
}

.active {
	background-color: $purple;
	border: 3px solid $black;
	color: $white;
}

.btn-transactions {
	width: 12rem;
	height: 4rem;
	background-color: $white;
	color: black;
	border: 3px solid #8257f6;
	padding: 11px 15px;
	border-radius: $border-radius;
	text-decoration: none;
}
