// card-cue style
// card-container
.card-grid {
	width: 100%;
	justify-content: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

// each cards
.card-cue {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 24px 8px;
	border: $border;
	border-radius: $border-radius;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: $black;
	transition-duration: 0.1s;
	* {
		margin: 0px;
	}
}

a .card-cue {
  &:active,
	&:hover {
		transform: scale(1.03);
		background-color: $blue;
		color: $black;
	}
}

// card-total-amount style
.card-total-amount {
	height: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 1rem;
	border: $border;
	border-radius: $border-radius;
}

// card-detail-amount style
.card-detail-amount {
	height: 13rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 1rem;
	border: $border;
	border-radius: $border-radius;
  background-color: $white;
}

//card-no-transaction
.card-no-transaction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 24px 8px;
	border: $border;
	border-radius: $border-radius;
	h2 {
		font-weight: bolder;
	}
}

.card-home {
	border: $border;
	border-radius: $border-radius;
	padding: 2rem;
	h1 {
		line-height: 1.2;
	}
}
.container-tagline {
	border: 3px solid #0a0a0a;
	border-radius: 8px;
	padding: 30px 0;
	margin-top: 120px;
}

.card-account {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0.75rem 1rem;
	border-radius: $border-radius;
	border: $border;
	background-color: $white;
	gap: 1rem;
	color: $black;
	margin-top: -15px;
	&:hover {
		background-color: $blue;
		color: $black;
	}
}

.card-title {
	margin-top: -10px;
}
