.container {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
}

.inner-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;
}

.container-toggle {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	gap: 1rem;
}

.container-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;

	* {
		margin: 0px;
	}
}

.container-list {
	gap: 1rem;
}

// Form
.simple_form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.form-inputs {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.form-text {
	padding-left: 14px;
}

.form-label {
	font-size: 1.5rem;
	font-weight: 800;
}
