// savecue--logo
.logo-large {
  width: 56px;
  border-radius: 50%;
}





// avatar--with--logo
.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.border-none {
  border: none;
}

.border-black {
  border: $border;
}

.border-top-black {
  border-top: $border;
}
