// savecue--logo
.logo-xllarge {
  width: 200px;
}


.navbar {
  border-bottom: 3px solid $black;
}


// avatar--with--logo
.logo-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.border-none {
  border: none;
}

.border-black {
  border: $border;
}

.border-top-black {
  border-top: $border;
}
