* {
	box-sizing: border-box;
}

.no-margin {
	* {
		margin: 0px !important;
	}
}

.active {
	background-color: $purple;
	border: 3px solid $black;
	color: $white;
}

.hidden {
	display: none;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}
